
body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
footer {
    background:#263238;
    display: block;
    color:white;
    margin: 0px;
    min-width: 100vw;
    min-height:12vh;
    text-align: center;
    margin-bottom:-30px;
    padding: 1em;
}

 .text-footer{
     display:inline-block;
    
   
    
}


.myheader {
background-image: url(/images/header_dev.jpg);
width: 100vw;
height: 70vh;
}

.container {
    min-width: 90vw;
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 20px;
   background-color: #fafafa;
   
}

.my-navbar, a{
   display: inline-block;
   margin-left: 20px;
   margin-top: 10px;
  color: black;
    
}

.card-container{
    margin: auto;
    display: flex;
    justify-content:space-around;
}


.carousel {  
    margin: auto;
}
.d-block{
    border-radius: 5px;
}

.card {
    padding: 8px;
}
.card:hover {
    padding: 0px;
    -moz-transition: .3s linear;
    -webkit-transition: .3s ease-out;
    transition: .3s linear;
}

img.hello {
    display: inline-block;
    max-width: 6vw;
    max-height: auto; 
    margin-right: 30px;
    border-radius: 50%;
    
}

img.hello:hover {
  
    display: inline-block;
    max-width: 7vw;
    max-height: auto; 
    -moz-transition: .3s linear;
    -webkit-transition: .3s ease-out;
    transition: .3s linear;
  
}


.myskills{

    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
  }
  


  
.skiller{
    display: block;
   
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    width: 70vw;
    height: auto;
    margin-top: 30px;
    background-color:white;
}

.myskills{
  display: flex;
  justify-content: space-around;
  background-color:#fafafa;
  padding: 10px;
}

.nom-skills{
width: 25%;
height: auto;


}
.progress-bar.progress-bar-striped.progress-bar-animated {
    background-color: #bbdefb  ;
    
}

.progress {
    display:block;
    margin: auto;
    width: 75%;
    height: auto;
  
}

h3{
    display: inline-blocks;
}

h2{
    display: block;
    text-align: center;
}

h4{
    display: block;
    text-align: center;
}

.redes {
    width: 30px; 
    margin-left: 10px;
}
.footer-enlaces {
    color: white;
  display: block;
 
}

@media (max-width:680px){

.container {
    margin-top: 0px;
}
    h2{
        display: none;
    }

    h3{
        display: block;
        text-align: center;
        font-size: 25px;
    }
    h2 {
        display: none;
    }

    
img.hello {
    display: inline-block;
    max-width: 20vw;
    max-height: auto; 
    margin-right: 30px;
    border-radius: 50%;
    
}
    

    .card {
       
        min-width: 90vw;
    }
    .carousel {
        display: none;
        min-width: 100vw;
       position: relative;
       right: 18px;
    }






@media (max-width:500px){
    h3{
       
        font-size: 23px;
    }
    
    .my-navbar, a{
        display: inline-block;
        margin-left: 10px;
        margin-top: 5px;
       color: black;
         
     }

    img.hello:hover {
      
       max-width: 22vw;
       max-height: auto; 
    }
   
    .card {
        
        min-width: 90vw;
    }
    .carousel {
        display: none;
        min-width: 100vw;
       position: relative;
       right: 18px;
    }
    .carousel-inner {
      
        min-width: 95vw;
        position: relative;
        right: 8px;

       
    }
    
}

