
body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
footer {
    background:#263238;
    display: block;
    color:white;
    margin: 0px;
    min-width: 100vw;
    min-height:12vh;
    text-align: center;
    margin-bottom:-30px;
    padding: 1em;
}

.mi-enlace {
   
    position: relative;
    right: -120px;
}

 .text-footer{
     display:inline-block;
    
   
    
}


.title {
    display: block;
    color: white;
    position: relative;
    top:-270px;
    font-size: 50px;
}

.container {
    min-width: 90vw;
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 20px;
   background-color: #fafafa;
   
}

.my-navbar, a{
   display: inline-block;
   margin-left: 20px;
   margin-top: 10px;
  color: black;
    
}

.card-container{
    margin: auto;
    display: flex;
    justify-content:space-around;
}


.carousel {  
    margin: auto;
}
.d-block{
    border-radius: 5px;
}

.card {
    padding: 8px;
}
.card:hover {
    padding: 0px;
    -moz-transition: .3s linear;
    -webkit-transition: .3s ease-out;
    transition: .3s linear;
}

img.hello {
    display: inline-block;
    max-width: 6vw;
    max-height: auto; 
    margin-right: 30px;
    border-radius: 50%;
    
}

img.hello:hover {
  
    display: inline-block;
    max-width: 7vw;
    max-height: auto; 
    -moz-transition: .3s linear;
    -webkit-transition: .3s ease-out;
    transition: .3s linear;
  
}


.myskills{

    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
  }
  


  
.skiller{
    display: block;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    width: 70vw;
    height: auto;
    margin-top: 30px;
    background-color:white;
}

.myskills{
  display: flex;
  justify-content: space-around;
  background-color:#fafafa;
  padding: 10px;
}

.nom-skills{
width: 25%;
height: auto;


}


.progress {
    display:block;
    margin: auto;
    width: 75%;
    height: auto;
  
}


h3{
    display: inline-blocks;
}

h2{
    display: block;
    text-align: center;
}

h4{
    display: block;
    text-align: center;
}

.redes {
    width: 30px; 
    margin-left: 10px;
}
.footer-enlaces {
    color: white;
  display: block;
 
}

@media only screen
  and (min-width: 1024px) 
  and (max-width: 1366px) 
  and (orientation: portrait) 
{
   
  

    ul,.navbar-nav{
      
        margin-left: -70px;
    }
}
 
/* cambios css solo para modo horizontal */
@media only screen
  and (min-width: 1024px) 
  and (max-width: 1366px) 
  and (orientation: landscape) 
{ 

  
    ul,.navbar-nav{
     
        margin-left: -200px;
    }

}


/*

@media only screen
  and (min-width: 768px) 
  and (max-width: 1024px) 
  and (orientation: landscape) 
{ 

    .container {
        min-width: 100vw;
        border-radius: 10px;
        display: block;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 50px;
        padding: 20px;
       background-color: #fafafa;
       border: solid 3px peru;
       
    }
nav, .navbar{
    width: 100%;
    height: auto;
}

    ul,.navbar-nav{
     
        margin-left: -80px;
        border: solid 3px red;
    }

}

    @media only screen
    and (min-width: 768px) 
    and (max-width: 1024px) 
    and (orientation: portrait) 
  { 

    
    .container {
        min-width: 130vw;
        border-radius: 10px;
        display: block;
        margin: auto;
        margin-top: -120px;
        margin-bottom: 50px;
        padding: 20px;
       background-color: #fafafa;
       border: solid 3px yellow;
       
    }

    nav, .navbar{
        width: 130vw;
        height: auto;
        border: solid 3px blue;
    }
    ul,.navbar-nav{
     
        margin-left: -200px;
        border: solid 3px black;
    }

}

*/

@media only screen and (max-width:680px){

.container {
    margin-top: 0px;
   
}

.mi-foto {
   
    position: relative;
    right: -0px;
    width: 55px;
}
.mi-enlace {
   
    position: relative;
    right: -0px;
}
/*
.myheader {
    background-image:url('../images/header_laptop.jpg');
    width: 100vw;
    height:  44vh;
   
    
    }

*/

    h2{
        display: none;
    }

    h3{
        display: block;
        text-align: center;
        font-size: 25px;
    }
    h2 {
        display: none;
    }

    
img.hello {
    display: none;
  
    
}
    

    .card {
       
        min-width: 90vw;
    }
   
  .title {
      font-size: 22px;
      position: relative;
      top: 500px;
      border:solid 4px red;
  }
    

}
@media only screen
    and (min-width: 768px) 
    and (max-width: 1024px) 
    and (orientation: portrait) 
  {

  }

@media only screen and (max-width:500px){

/*
    .myheader {
        background-image:url('../images/header_tablet.jpg');
        width: 100%;
        height: 35vh;
       
        }
        
    */  
      
        h1{
            font-size: 20px;
        }
    
    h3{
       
        font-size: 23px;
    }
    
    .my-navbar, a{
        display: inline-block;
        margin-left: 10px;
        margin-top: 5px;
       color: black;
         
     }

    img.hello:hover {
      
       max-width: 22vw;
       max-height: auto; 
    }
   
    .card {
        
        min-width: 90vw;
    }
  
  
        .skiller{
            margin: auto;
            width: 97vw;
        
        }

        .myskills{
        display: flex;
        flex-direction: column;
        background-color:#fafafa;
        padding: 10px;
        }



        .nom-skills{
        width: 45%;
        height: auto;


        }


        .progress {
            display:block;
            margin: auto;
            width: 100%;
            height: auto;
        
        }

      
 
}

